.dropdown {
  position: relative;
}

.dropdown-toggle {
  padding: 10px 20px;         
  border-radius: 25px;          
  border: 1px solid #F1F1FA;   
  background-color: #FFFFFF;  
  color: #000;               
  cursor: pointer;            
  font-size: 16px;            
}

.dropdown-menu {
  background-color: white;      
  border: 2px solid black;     
  border-radius: 8px;         
  list-style-type: none;      
  margin: 0;                   
  padding: 0;                  
  position: absolute;         
  top: 100%;                  
  left: 0;                     
  min-width: 160px;             
}

.dropdown-item {
  padding: 10px 20px;         
  text-decoration: none;       
  color: black;                
  display: block;               
  font-size: 14px;             
}

.dropdown-item:hover {
  background-color: #f8f9fa;    
  color: #333;                 
}

.sec-header-style{
  background-color: #EEE5FF;
  color: #7F3DFF;
  border-radius: 12px;
}

.menu-style{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
}

.style-group-header{
  color: #000;
  font-weight: 600;
}

.style-transaction{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #F1F1FA;
  border-radius: 10px;
  background-color: #FCFAFA;
}

.debit{
  color: #FD3C4A;
}

.credit{
  color: #00A86B;
}

.scroll {
  flex-grow: 1; 
  overflow-y: auto;
  height: 100vh;
}