.profile-body-style{
    margin: 1px;
    background-color: #FFFFFF !important;
}

.rounded-top-left-right {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.rounded-bottom-left-right {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.profile-pic{
    width: 80px;
    height: 80px;
    border: 2px solid #7F3DFF;
    padding: 5px;
}
  
  