.footer img{
    width: 30px;
    height: 30px;
}

.footer{
    padding: 10px;
    background-color: #FFFFFF;
}

.footer .icon-add{
    width: 50px !important;
    height: 50px !important;
    margin-top: -20px;
}

.footer .menu-font-style{
    color: #91919F;
    font-size: 10px;
}