.income{
    background-color: #00A86B;
}

.style-input-amount{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    margin-top: -15px;
}

.style-add-header{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

input[type="text"] {
    font-size: 50px;
    border: none;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    background-color: #00A86B;
    color: #FCFCFC;
  }

  input[type="text"]::placeholder{
    color: #FCFCFC;
    font-size: 50px;
  }

  input[type="text"]:focus {
    outline: none; 
    border: none;   
  }

  .style-amt-head{
    color: #FCFCFC;
    margin-top: 100px;
    margin-left: 10px;
  }