.income{
    background-color: #00A86B;
}

.style-input-amount{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
}

.style-add-header{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}